/* Kit Styling */
.kits-dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.kit-dropdown {
    height: 20px;
    width: 120px;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 119px;
    z-index: 1;
    border: 1px solid black;
    grid-template-columns: auto;
    background-color: lightseagreen;
}

.dropdown-content a {
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: orange;
    font-size: 14px;
}


/* Instrument Styling */
.isntruments-dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.instrument-dropdown {
    height: 20px;
    width: 120px;
    align-items: center;
}

.effects-container-main {
    position: relative;
    display: inline-block;
    max-width: 100%;

    padding: 2px;
    margin: 2px;

    /* outline: 1px solid green; */
}

.effect-holder {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 2px;
    padding: 2px;

    font-size: 14px;

    height: 25px;
    /* outline: 1px solid yellow; */
}

.effect-holder label {
    justify-self: left;
}

.effect-dropdown {
    height: 20px;
    width: 102px;
    align-items: center;
}

.effect-controls {
    padding: 10px;
    display: none;
    position: absolute;
    width: 190px;
    z-index: 2;
    left: 130px;
    border: 1px solid black;
    grid-template-columns: 1fr .5fr;
    background-color: lightseagreen;
    box-shadow: 0px 2px 1px 1px black;

    justify-content: left;
    align-items: baseline;
    text-align: left !important;
}

.effect-controls input {
    width: 30px;
}

.effect-controls:hover {
    background-color: lightseagreen;
}

.effect-controls a {
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.effect-controls a:hover {
    /* background-color: orange; */
}