* {
    font-family: 'cubano';

    text-align: center;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: lavender;
}

.guides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
    flex-basis: 100%;
}

.guide1 {
    flex-basis: 50%;
    background-color: aquamarine;
}

.guide2 {
    flex-basis: 50%;
    background-color: cornflowerblue;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
}

/*  */
.workspace-visuals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: lightseagreen;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.image {
    background-color: blue;
    width: 120px;
    height: 120px;
}

.workspace-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

footer {
    font-size: 12px;
    margin: 30px;
}

#waveform {
    background-color: green;
}

/* WORKSPACE TITLE STYLE */
.workspace-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightseagreen;
}

.kit-dropdown, .saveload-buttons {
    flex-basis: 200px;
}

.playstop-buttons {
    flex-basis: auto;
}

/* WORKSPACE STYLE */
.workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: bisque;
    padding-bottom: 10px;
    gap: 5px;
}

.instruments-container, .controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.beats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: auto;
    flex-wrap: wrap;
}

.remove-button {
    background-color: none;
    align-content: center;
    font-size: 12px;
    color: crimson;
    height: 20px;
    min-width: 20px;
}

.remove-button:hover {
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    color: orange;
}

.beatCol, .countCol {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
}

.beat {
    outline: 1px solid black;
    background-color: mistyrose;
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.beat:hover {
    background-color: orange;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    color: white;
    box-shadow: 0px 0px 4px 2px orange;
}

.onBeat {
    background-color: lightcoral;
    width: auto;
    min-width: 20px;
}

.onCount {
    background-color: peachpuff;
    width: auto;
    min-width: 20px;
}

.beat:nth-child(even) {
    background-color: rgb(235, 184, 179) !important;
}

.beat:hover:nth-child(even) {
    background-color: orange !important;
    color: white;
}

.beat[checked='true'] {
    background-color: lightgreen !important;
}
