* {
    font-family: 'cubano';

    text-align: center;

    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: lavender;
}

.guides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
    flex-basis: 100%;
}

.guide1 {
    flex-basis: 50%;
    background-color: aquamarine;
}

.guide2 {
    flex-basis: 50%;
    background-color: cornflowerblue;
}

/* .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
} */

/*  */
.workspace-visuals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25vw;
    padding-right: 25vw;
    background-color: lightseagreen;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.image {
    background-color: lightseagreen;
    width: 120px;
    height: 120px;
}

.image2 {
    background-color: rgb(116, 173, 171);
    width: 90%;
    height: 100%;
    box-shadow: 0px 2px 1px 1px black;
}

.workspace-inputs, .workspaceInstrument-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background-color: lightcoral;
    border: 1px solid black;
    box-shadow: 0px 2px 1px 1px black;
    border-radius: 2px;
}

.workspace-effects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: lightcoral;
    border: 1px solid black;
    box-shadow: 0px 2px 1px 1px black;
    border-radius: 2px;
}

.tempo-inputs, .beats-inputs, .counts-inputs, .instruments-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 12px;
    margin: 30px;
}

#waveform {
    background-color: green;
}

/* WORKSPACE TITLE STYLE */
.workspace-title-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25vw;
    padding-right: 25vw;
    background-color: lightseagreen;
}

.layout-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25vw;
    padding-right: 25vw;
    gap: 20px;
    background-color: lightseagreen;
}

.kits-dropdown, .saveload-buttons {
    flex-basis: 120px;
}

.saveload-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playstop-buttons {
    flex-basis: auto;
}

/* WORKSPACE STYLE */
.workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: bisque;
    padding-bottom: 10px;
    gap: 5px;
}

.instruments-container, .controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 170px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    gap: 3px;
}

.length-container {
    display: flex;
    flex-direction: column;
}

.dropdowns-container {
    display: flex;
    flex-direction: column;
}

.close-container {
    display: flex;
    flex-direction: column;
}

.beats-container {
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    flex-basis: auto;
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;

    scrollbar-color: lightcoral #053a5f;
    scrollbar-width: thin;
}
.remove-button {
    background-color: none;
    align-content: center;
    font-size: 12px;
    color: crimson;
    height: 20px;
    min-width: 20px;
}

.remove-button:hover {
    cursor: pointer;
    z-index: 1;
    font-size: 16px;
    color: orange;
}

.beatCol, .countCol {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
}

.note {
    outline: 1px solid black;
    background-color: mistyrose;
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.note:hover {
    background-color: hotpink;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    color: white;
    box-shadow: 0px 0px 0px 2px black;
}

.onBeat {
    background-color: rgb(255, 96, 96);
    width: auto;
    min-width: 20px;
    outline: 1px solid black;
}

.onCount {
    background-color: rgb(224, 197, 137);
    width: auto;
    min-width: 20px;
    outline: 1px solid black;
}

.note:nth-child(even) {
    background-color: rgb(235, 184, 179) !important;
}

.note:hover:nth-child(even) {
    background-color: hotpink !important;
    color: white;
}

.note[checked='true'] {
    background-color: lightgreen !important;
}

.note[play='true'] {
    outline: 2px solid green !important;
    /* background-color: hotpink !important; */
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.onBeat[play='true'], .onCount[play='true'] {
    outline: 2px solid green;
    /* background-color: hotpink; */
}